* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.web-nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 4;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.web-logo {
  height: 48px;
  padding-left: 1.1rem;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin: 0 14px;
}

nav ul li a {
  text-decoration: none;
  color: #234edd;
  font-size: 18px;
}

nav ul li a:hover {
  color: #072ec7;
}

button {
  background-color: #234edd;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  padding: 9px;
  border: none;
}

button:hover {
  background-color: #072ec7;
  color: white;
}

.menu-list {
  display: none;
  list-style-type: none;
}

#menu_icon {
  font-size: 18px;
  display: none;
  list-style-type: none;
}

.container-right {
  display: flex;
  gap: 25px;
}

.container-right a {
  text-decoration: none;
  font-weight: 600;
}

.second-nav {
  background-color: #234edd;
  height: auto;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
  padding-bottom: 1.1rem;
  padding-top: 1.1rem;
}

.tuts {
  color: white;
  padding: 17px 10px;
  font-size: 15px;
  font-weight: 600;
}

.tuts:hover {
  background-color: #072ec7;
  color: white;
}

.searchToggle {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchToggle i {
  position: absolute;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.searchToggle i.cancel {
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}

.searchToggle.active i.search {
  opacity: 0;
  pointer-events: none;
}

.searchBox {
  padding-top: 3px;
}

.searchBox .search-field {
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: grid;
  align-items: center;
  background-color: #4070f4;
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field {
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
  margin-right: 88px;
}

.search-field::before {
  content: "";
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: #4070f4;
  transform: rotate(-45deg);
  z-index: -1;
}

.search-field input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #010718;
  background-color: white;
}

.search-field input {
  color: black;
  height: 44px;
}

.search-field i {
  position: absolute;
  color: #4070f4;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

.search-field i {
  color: #234edd;
}

.center-text {
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  padding-top: 82px;
  color: #234edd;
}

.center-text h2 {
  font-weight: 600;
}

.exp-page {
  display: grid;
  justify-content: center;
  align-items: center;
}

.card {
  width: 57rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-bottom: 30px;
  cursor: pointer;
}

.card h2 {
  font-size: 32px;
  line-height: 28px;
  margin-bottom: 12px;
  padding-top: 20px;
  padding-left: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

/* Hero Section with Image */

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 40px;
}

.hero-image {
  width: 100%;
}

.left-container h1 {
  font-size: 36px;
  color: #234edd;
}

.intro {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  padding-right: 49px;
}

.h-btn {
  text-decoration: none;
  color: white;
  font-size: 16px;
  background-color: #234edd;
  padding: 10px 8px;
  border-radius: 6px;
}

.exp-container {
  background-color: #f4f2f2;
  padding: 24px 14px;
  border-radius: 0 0 6px 6px;
}

.ex-btn {
  text-decoration: none;
  color: white;
  font-weight: 600px;
  font-size: 16px;
  background-color: #234edd;
  padding: 10px 8px;
  border-radius: 6px;
}

.ex-btn:hover {
  background-color: #072ec7;
  color: white;
}

/* Navbar with Center Logo */

.topnav {
  /* overflow: hidden; */
  background-color: #01165c;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}

.nav-logo {
  height: 82px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #072ec7;
  color: white;
}

/* Icon Navbar */

.navbar {
  width: 100%;
  background-color: #234edd;
  overflow: auto;
  margin-bottom: 25px;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #072ec7;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.icon-bar {
  width: 90px;
  background-color: #234edd;
  margin-left: 16px;
  margin-bottom: 25px;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #072ec7;
}

.active {
  background-color: #021664;
}

.facebook {
  background: #3b5998;
  color: white;
}

.instagram {
  background: #e1306c;
  color: white;
}

.twitter {
  background: #1da1f2;
  color: white;
}

.google {
  background: #4285f4;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

/* Navbar with Center Logo */

.drop-navbar {
  overflow: hidden;
  background-color: #234edd;
}

.drop-navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

.drop-navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #021664;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav__item {
  padding-left: 83px;
}

.nav__ul a {
  color: white;
}

.nav__ul a:hover {
  color: #234edd;
}

.social-ico-list {
  display: flex;
  gap: 16px;
  font-size: 30px;
  margin-left: 26px;
}

.social-links {
  color: white;
}

.social-ico-list a:hover {
  color: #234edd;
}

.product-card {
  width: 380px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 30px auto;
  background: #fafafa;
}

.products {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #f0f0f0;
}

.products img {
  max-width: 135%;
  max-height: 135%;
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #085eff;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #0b2670;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #234edd;
  color: white;
  cursor: pointer;
  padding: 12px;
  border-radius: 4px;
}

#topBtn:hover {
  background-color: #072ec7;
}

.footer {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 30px 20px 30px;
  font-size: 14px;
  color: white;
  background-color: #021552;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 40px;
}

.nav__item {
  padding-left: 83px;
  padding-top: 13px;
}

.fo-site-intro {
  padding-left: 26px;
}

.nav__ul a {
  color: white;
}

.nav__ul a:hover {
  color: #234edd;
}

.social-ico-list {
  display: flex;
  gap: 16px;
  font-size: 30px;
  margin-left: 26px;
}

.social-links {
  color: white;
}

.social-ico-list a:hover {
  color: #234edd;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 2560px) {
  #navbar {
    position: relative;
    left: 33%;
  }

  .searchToggle.active ~ .search-field {
    margin-right: 88px;
  }
}

@media (max-width: 2401px) {
  #navbar {
    position: relative;
    left: 32%;
  }

  .searchToggle.active ~ .search-field {
    margin-right: 88px;
  }

  .project-page {
    padding-left: 24%;
  }

  .card {
    width: 76rem;
  }
}

@media (max-width: 2133.33px) {
  #navbar {
    position: relative;
    left: 29%;
  }

  .searchToggle.active ~ .search-field {
    margin-right: 88px;
  }
}

@media (max-width: 1920px) {
  #navbar {
    position: relative;
    left: 27%;
  }

  .searchToggle.active ~ .search-field {
    margin-right: 88px;
  }

  .project-page {
    padding-left: 20%;
  }

  .card {
    width: 70rem;
    cursor: pointer;
  }

  .footer {
    padding: 30px 505px 20px 501px;
  }
}

@media (max-width: 1745.45px) {
  #navbar {
    position: relative;
    left: 25%;
  }

  .searchToggle.active ~ .search-field {
    margin-right: 88px;
  }

  .footer {
    padding: 30px 443px 20px 447px;
  }
}

@media (max-width: 1536px) {
  #navbar {
    position: relative;
    left: 22%;
  }

  .project-page {
    padding-left: 12%;
  }

  .footer {
    padding: 30px 30px 20px 30px;
  }
}

@media (max-width: 1365.33px) {
  #navbar {
    position: relative;
    left: 18%;
  }

  .project-page {
    padding-left: 9%;
  }

  .card {
    width: 64rem;
  }

  .footer {
    padding: 30px 30px 20px 30px;
  }
}

@media (max-width: 1280px) {
  #navbar {
    position: relative;
    left: 16%;
  }

  .project-page {
    padding: 26px 0px 20px 46px;
  }

  .card {
    width: 57rem;
    cursor: pointer;
  }

  .footer {
    padding: 30px 30px 20px 30px;
  }
}

@media (max-width: 1137.78px) {
  #navbar {
    position: relative;
    left: 12%;
  }

  .footer {
    padding: 30px 151px 20px 129px;
  }
}

@media (max-width: 1024px) {
  #navbar {
    position: relative;
    left: 8%;
  }

  .footer {
    padding: 30px 61px 20px 21px;
  }
}

@media (max-width: 930.91px) {
  #navbar {
    position: relative;
    left: 4%;
  }

  .project-page {
    padding-left: 3%;
  }

  .card {
    width: 54rem;
  }
}

@media (max-width: 819.20px) {
  #navbar {
    position: static;
  }

  .menu-list {
    display: block;
    font-size: 18px;
  }

  #menu_icon {
    position: relative;
    font-size: 23px;
    display: block;
    color: #234edd;
    list-style-type: none;
    margin-top: 11px;
    right: 51%;
  }

  nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2.7;
  }

  #navlist-bar {
    position: absolute;
    top: 103%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: white;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .web-nav {
    box-shadow: 0px 3px 9px gainsboro;
  }

  .container-right {
    display: flex;
    position: relative;
    right: 2%;
  }

  .container-right a {
    font-size: 14px;
  }

  .loglink {
    margin-top: 5px;
  }

  .searchBox {
    padding-top: 6px;
  }

  .searchBox .search-field {
    height: 50px;
    width: 227px;
  }

  .searchToggle.active ~ .search-field {
    margin-right: 102px;
  }

  .second-nav {
    display: none;
  }

  .project-page {
    padding: 26px 0px 20px 42px;
  }

  .card {
    width: 45rem;
  }

  .center-text {
    margin-top: 0px;
    padding-top: 30px;
  }

  .footer {
    flex-flow: row wrap;
    padding: 30px 30px 20px 10px;
    font-size: 14px;
    color: white;
    background-color: #021552;
  }

  .fo-site-intro {
    padding-left: 15px;
  }

  .nav__item {
    padding-left: 44px;
    padding-top: 13px;
  }

  .social-ico-list {
    display: flex;
    gap: 16px;
    font-size: 30px;
    margin-left: 15px;
  }
}

@media (max-width: 768px) {
  #navbar {
    position: static;
  }

  .menu-list {
    display: block;
    font-size: 18px;
  }

  #menu_icon {
    position: relative;
    font-size: 23px;
    display: block;
    color: #234edd;
    list-style-type: none;
    margin-top: 12px;
    right: 51%;
  }

  nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2.7;
  }

  #navlist-bar {
    position: absolute;
    top: 103%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: white;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .web-nav {
    box-shadow: 0px 3px 9px gainsboro;
  }

  .container-right {
    display: flex;
    position: relative;
    right: 2%;
  }

  .container-right a {
    font-size: 14px;
  }

  .loglink {
    margin-top: 5px;
  }

  .searchBox {
    padding-top: 6px;
  }

  .searchBox .search-field {
    height: 50px;
    width: 227px;
  }

  .searchToggle.active ~ .search-field {
    margin-right: 102px;
  }

  .second-nav {
    display: none;
  }

  .project-page {
    padding-left: 2%;
  }

  .card {
    width: 40rem;
  }

  .footer {
    flex-flow: row wrap;
    padding: 30px 30px 20px 10px;
    font-size: 14px;
    color: white;
    background-color: #021552;
  }

  .fo-site_item {
    margin-left: 0px;
  }

  .fo-site-intro {
    margin-left: 40px;
  }

  .nav__item {
    padding-left: 13px;
    padding-top: 13px;
  }

  .social-ico-list {
    margin-left: 40px;
  }
}

@media (max-width: 440px) {
  html {
    font-size: 50%;
  }

  .web-logo {
    height: 47px;
  }

  #navbar {
    position: static;
  }

  .menu-list {
    display: block;
    font-size: 18px;
  }

  #menu_icon {
    position: relative;
    font-size: 23px;
    display: block;
    color: #234edd;
    list-style-type: none;
    margin-top: 10px;
    right: 51%;
  }

  nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2.7;
  }

  #navlist-bar {
    position: absolute;
    top: 103%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: white;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .web-nav {
    box-shadow: 0px 3px 9px gainsboro;
  }

  .ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 3px 1em 3px 0.4em;
    font-size: 13px;
    font-weight: 600;
  }

  .container-right {
    display: flex;
    position: relative;
    right: 2%;
  }

  .container-right a {
    font-size: 14px;
  }

  .loglink {
    margin-top: 5px;
  }

  .searchBox {
    padding-top: 6px;
  }

  .searchBox .search-field {
    height: 50px;
    width: 227px;
  }

  .searchToggle.active ~ .search-field {
    margin-right: 102px;
  }

  .second-nav {
    display: none;
  }

  .center-text {
    padding-top: 30px;
  }

  .project-page {
    padding: 26px 0px 20px 20px;
  }

  .card {
    width: 48rem;
    margin-bottom: 30px;
  }

  .card h2 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 12px;
    padding-top: 20px;
    padding-left: 0px;
  }

  .topnav a {
    padding: 20px 10px 20px 10px;
  }

  .navbar a {
    float: left;
  }

  .hero-container {
    flex-direction: column;
    margin-top: 0px;
  }

  .left-container h1 {
    text-align: center;
  }

  .intro {
    text-align: center;
    padding-right: 0px;
  }

  .h-btn {
    font-size: 18px;
    padding: 14px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 74px;
    margin-right: 91px;
  }

  .footer {
    padding: 30px 30px 20px 0px;
    font-size: 14px;
    color: white;
    background-color: #021552;
  }

  .fo-site_item {
    margin-left: 75px;
  }

  .fo-site-intro {
    margin-left: 40px;
  }

  .nav__item {
    padding-left: 54px;
    padding-top: 13px;
  }

  .social-ico-list {
    margin-left: 40px;
  }
}
