* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.web-nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 4;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.web-logo {
  height: 48px;
  padding-left: 1.1rem;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin: 0 14px;
}

nav ul li a {
  text-decoration: none;
  color: #234edd;
  font-size: 18px;
}

nav ul li a:hover {
  color: #072ec7;
}

button {
  background-color: #234edd;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  padding: 9px;
  border: none;
}

button:hover {
  background-color: #072ec7;
  color: white;
}

.menu-list {
  display: none;
  list-style-type: none;
}

#menu_icon {
  font-size: 18px;
  display: none;
  list-style-type: none;
}

.container-right {
  display: flex;
  gap: 25px;
}

.container-right a {
  text-decoration: none;
  font-weight: 600;
}

.second-nav {
  background-color: #234edd;
  height: auto;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
  padding-bottom: 1.1rem;
  padding-top: 1.1rem;
}

.tuts {
  color: white;
  padding: 17px 10px;
  font-size: 15px;
  font-weight: 600;
}

.tuts:hover {
  background-color: #072ec7;
  color: white;
}

.searchToggle {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchToggle i {
  position: absolute;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.searchToggle i.cancel {
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}

.searchToggle.active i.search {
  opacity: 0;
  pointer-events: none;
}

.searchBox {
  padding-top: 0px;
}

.searchBox .search-field {
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: grid;
  align-items: center;
  background-color: #4070f4;
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field {
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
  margin-right: 88px;
}

.search-field::before {
  content: "";
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: #4070f4;
  transform: rotate(-45deg);
  z-index: -1;
}

.search-field input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #010718;
  background-color: white;
}

.search-field input {
  color: black;
  height: 44px;
}

.search-field i {
  position: absolute;
  color: #4070f4;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

.search-field i {
  color: #234edd;
}

#leftmenu {
  position: fixed;
  top: 0;
  padding-top: 133px;
  padding-bottom: 0;
  height: 100%;
  width: 203px;
  background-color: transparent;
}

#inside-menu {
  height: 100%;
  width: 100%;
  background-color: #e7e9eb;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 20px;
}

.py-logo {
  width: 146px;
  margin-bottom: 16px;
  margin-left: 20px;
}

.html-logo {
  width: 146px;
  margin-bottom: 16px;
  margin-left: 20px;
}

.css-logo {
  width: 146px;
  margin-bottom: 16px;
  margin-left: 20px;
}

.c-logo {
  width: 135px;
  margin-bottom: 16px;
  margin-left: 25px;
}

.java-logo {
  width: 140px;
  margin-bottom: 16px;
  margin-left: 22px;
}

.js-logo {
  width: 143px;
  margin-bottom: 16px;
  margin-left: 23px;
}

#sidenav h2 {
  font-size: 22px;
  padding-left: 16px;
  width: 204px;
}

#sidenav a {
  font-family: "Segoe UI", Arial, sans-serif;
  text-decoration: none;
  display: block;
  padding-left: 17px;
  font-size: 17px;
  color: black;
  padding-top: 13px;
}

.page-up-btn {
  margin-left: 22%;
}

.up-btn {
  display: flex;
  padding-top: 90px;
}

.up-left-btn {
  text-decoration: none;
  color: white;
  font-size: 16px;
  background-color: #234edd;
  padding: 10px 8px;
  border-radius: 6px;
}

.up-right-btn {
  text-decoration: none;
  color: white;
  font-size: 16px;
  background-color: #234edd;
  padding: 10px 8px;
  border-radius: 6px;
  margin-left: 75%;
}

.up-left-btn:hover {
  background-color: #072ec7;
  color: white;
}

.up-right-btn:hover {
  background-color: #072ec7;
  color: white;
}

.page-content {
  margin-left: 22%;
  margin-right: 4%;
}

.page-text {
  display: block;
  padding-top: 30px;
}

.page-text h1 {
  font-size: 36px;
  line-height: 2.5rem;
}

.page-text h2 {
  font-size: 26px;
  line-height: 1.5;
  margin: 15px 0 12px 10px;
}

.page-text h3 {
  font-size: 26px;
  line-height: 1.5;
  margin: 15px 0 12px 10px;
}

.page-text p {
  font-size: 18px;
  line-height: 1.5;
  margin: 15px 10px 12px 10px;
}

.page-text li {
  margin-left: 40px;
  font-size: 18px;
}

.content-image {
  width: 100%;
  padding: 10px 20px;
}

.content-vid {
  width: 40%;
  padding: 10px 20px;
}

table.w3-table-all,
table.ws-table-all {
  margin: 20px 10px;
}

.ws-table-all {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}

.ws-table-all tr {
  border-bottom: 1px solid #ddd;
}

.ws-table-all td,
.ws-table-all th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}

.page-down-btn {
  margin-left: 22%;
}

.page-text li {
  margin-right: 20px;
}

.down-btn {
  display: flex;
  padding-top: 46px;
  padding-bottom: 40px;
}

.down-left-btn {
  text-decoration: none;
  color: white;
  font-size: 16px;
  background-color: #234edd;
  padding: 10px 8px;
  border-radius: 6px;
}

.down-right-btn {
  text-decoration: none;
  color: white;
  font-size: 16px;
  background-color: #234edd;
  padding: 10px 8px;
  border-radius: 6px;
  margin-left: 74%;
}

.down-left-btn:hover {
  background-color: #072ec7;
  color: white;
}

.down-right-btn:hover {
  background-color: #072ec7;
  color: white;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #234edd;
  color: white;
  cursor: pointer;
  padding: 12px;
  border-radius: 4px;
}

#topBtn:hover {
  background-color: #072ec7;
}

.footer {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 30px 20px 30px;
  font-size: 14px;
  color: white;
  background-color: #021552;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 40px;
}

.nav__item {
  padding-left: 50px;
  padding-top: 13px;
}

.fo-site-intro {
  padding-left: 26px;
}

.nav__ul a {
  color: white;
}

.nav__ul a:hover {
  color: #234edd;
}

.social-ico-list {
  display: flex;
  gap: 16px;
  font-size: 30px;
  margin-left: 26px;
}

.social-links {
  color: white;
}

.social-ico-list a:hover {
  color: #234edd;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-container,
.first-line,
.second-line,
.third-line,
.fourth-line,
.fifth-line,
.sixth-line {
  background: black;
  color: white;
  padding: 20px;
  margin-left: 10px;
  line-height: 1.5;
}

.output-container {
  background: black;
  color: white;
  padding: 2vw;
  margin-left: 10px;
  line-height: 1.5;
}

code {
  font-size: 1rem;
}

.preprocessor,
.keyword {
  color: #61aeee;
}

.header-file,
.string {
  color: #a6e22e;
}

.function,
.type {
  color: #f1dc1c;
}

.number {
  color: #234edd;
}

.comments {
  color: #8292a2;
}

.doctype {
  color: #234edd;
}

.punctuation,
.atribu-punc {
  color: white;
}

.tag,
.property {
  color: #e06c75;
}

.atribu-name {
  color: #ffec3d;
}

.atribu-val {
  color: #a6e22e;
}

.selector {
  color: #ffec3d;
}

.value {
  color: #8349f0;
}

.ins-vid {
  width: 100%;
  padding: 5px 15px 20px 15px;
  cursor: pointer;
}

@media (max-width: 2560px) {
  #navbar {
    position: relative;
    left: 31%;
  }

  .searchToggle.active ~ .search-field {
    margin-right: 88px;
  }

  .page-up-btn {
    margin-left: 9%;
  }

  .up-right-btn {
    margin-left: 91%;
  }

  .page-content {
    margin-left: 9%;
    margin-right: 2%;
  }

  .content-image {
    width: 1000px;
    padding: 10px 20px;
    cursor: pointer;
  }

  table.w3-table-all,
  table.ws-table-all {
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 62px;
    margin-left: 10px;
  }

  .un_list {
    margin-bottom: 172px;
  }

  .uno_list {
    margin-bottom: 135px;
  }

  .code_block {
    margin-bottom: 178px;
  }

  .code_area {
    margin-bottom: 196px;
  }

  .page-text p {
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 10px 18px 10px;
  }

  .aud {
    width: 400px;
  }

  .page-down-btn {
    margin-left: 9%;
  }

  .down-right-btn {
    margin-left: 91%;
  }
}

@media (max-width: 2401px) {
  #navbar {
    position: relative;
    left: 30%;
  }

  .searchToggle.active ~ .search-field {
    margin-right: 88px;
  }

  #leftmenu {
    height: 100%;
    width: 310px;
  }

  #sidenav h2 {
    font-size: 24px;
    padding-left: 29px;
  }

  #sidenav a {
    font-size: 21px;
    padding-left: 33px;
    padding-top: 13px;
  }

  .py-logo {
    margin-left: 71px;
  }

  .c-logo {
    margin-left: 79px;
  }

  .java-logo {
    margin-left: 79px;
  }

  .css-logo {
    margin-left: 79px;
  }

  .html-logo {
    margin-left: 79px;
  }

  .js-logo {
    margin-left: 79px;
  }

  .page-up-btn {
    margin-left: 14%;
  }

  .page-content {
    margin-left: 14%;
  }

  .content-image {
    width: 1000px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .un_list {
    margin-bottom: 0px;
  }

  .uno_list {
    margin-bottom: 0px;
  }

  .code_block {
    margin-bottom: 0px;
  }

  .code_area {
    margin-bottom: 0px;
  }

  .page-text p {
  font-size: 18px;
  line-height: 1.5;
  margin: 15px 10px 12px 10px;
}

  .up-right-btn {
    margin-left: 90%;
  }

  .page-down-btn {
    margin-left: 14%;
    margin-top: 106px;
  }

  .down-right-btn {
    margin-left: 90%;
  }

  .nav__item {
    padding-left: 106px;
    padding-top: 13px;
  }
}

@media (max-width: 2133.33px) {
  #navbar {
    position: relative;
    left: 28%;
  }

  .page-content {
    margin-left: 16%;
  }

  .un_list {
    margin-bottom: 0px;
  }

  .uno_list {
    margin-bottom: 0px;
  }

  .code_block {
    margin-bottom: 0px;
  }

  .code_area {
    margin-bottom: 0px;
  }

  .page-up-btn {
    margin-left: 16%;
  }

  .up-right-btn {
    margin-left: 89%;
  }

  .page-down-btn {
    margin-left: 16%;
    margin-top: 0px;
  }

  .down-right-btn {
    margin-left: 89%;
  }
}

@media (max-width: 1920px) {
  #navbar {
    position: relative;
    left: 25%;
  }

  .searchToggle.active ~ .search-field {
    margin-right: 88px;
  }

  #leftmenu {
    height: 100%;
    width: 300px;
  }

  #sidenav h2 {
    font-size: 24px;
    padding-left: 29px;
    width: 204px;
  }

  #sidenav a {
    padding-left: 33px;
    padding-top: 13px;
  }

  .content-image {
    width: 1000px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .java-logo {
    width: 165px;
    margin-left: 54px;
  }

  .c-logo {
    width: 165px;
    margin-left: 61px;
  }

  .css-logo {
    width: 165px;
    margin-left: 54px;
  }

  .html-logo {
    width: 165px;
    margin-left: 54px;
  }

  .js-logo {
    width: 165px;
    margin-left: 54px;
  }

  .py-logo {
    width: 165px;
    margin-left: 54px;
  }

  .page-up-btn {
    margin-left: 17%;
  }

  .up-right-btn {
    margin-left: 87%;
  }

  .page-content {
    margin-left: 17%;
    margin-right: 2%;
  }

  .un_list {
    margin-bottom: 0px;
  }

  .uno_list {
    margin-bottom: 0px;
  }

  .code_block {
    margin-bottom: 0px;
  }

  .code_area {
    margin-bottom: 0px;
  }

  .page-down-btn {
    margin-left: 17%;
    margin-top: 0px;
  }

  .down-right-btn {
    margin-left: 87%;
  }

  .footer {
    padding: 30px 437px 20px 608px;
  }

  .nav__item {
    padding-left: 100px;
  }
}

@media (max-width: 1745.45px) {
  #navbar {
    position: relative;
    left: 23%;
  }

  .page-content {
    margin-left: 19%;
  }

  .un_list {
    margin-bottom: 0px;
  }

  .uno_list {
    margin-bottom: 0px;
  }

  .code_block {
    margin-bottom: 0px;
  }

  .code_area {
    margin-bottom: 0px;
  }

  .page-up-btn {
    margin-left: 19%;
  }

  .up-right-btn {
    margin-left: 86%;
  }

  .page-down-btn {
    margin-left: 19%;
    margin-top: 0px;
  }

  .down-right-btn {
    margin-left: 86%;
  }
}

@media (max-width: 1536px) {
  #navbar {
    position: relative;
    left: 19%;
  }

  .py-logo {
    margin-left: 52px;
  }

  .c-logo {
    margin-left: 55px;
  }

  .java-logo {
    margin-left: 52px;
  }

  .css-logo {
    margin-left: 52px;
  }

  .html-logo {
    margin-left: 52px;
  }

  .js-logo {
    margin-left: 52px;
  }

  #sidenav h2 {
    font-size: 23px;
    padding-left: 23px;
  }

  #sidenav a {
    padding-left: 23px;
    font-size: 19px;
  }

  .content-image {
    width: 100%;
    padding: 10px 20px;
  }

  .page-up-btn {
    margin-left: 21%;
  }

  .page-content {
    margin-left: 21%;
  }

  .un_list {
    margin-bottom: 0px;
  }

  .uno_list {
    margin-bottom: 0px;
  }

  .code_block {
    margin-bottom: 0px;
  }

  .code_area {
    margin-bottom: 0px;
  }

  .up-right-btn {
    margin-left: 84%;
  }

  .page-down-btn {
    margin-left: 21%;
    margin-top: 0px;
  }

  .down-right-btn {
    margin-left: 84%;
  }

  .footer {
    padding-left: 16%;
    padding: 30px 30px 20px 153px;
  }

  .nav__item {
    padding-left: 100px;
    padding-top: 13px;
  }
}

@media (max-width: 1365.33px) {
  #navbar {
    position: relative;
    left: 15%;
  }

  #leftmenu {
    height: 100%;
    width: 242px;
  }

  #sidenav h2 {
    font-size: 23px;
    padding-left: 23px;
  }

  #sidenav a {
    padding-left: 23px;
    font-size: 19px;
  }

  .content-image {
    width: 100%;
    padding: 10px 20px;
  }

  .py-logo {
    width: 164px;
    margin-left: 30px;
  }

  .c-logo {
    width: 164px;
    margin-left: 30px;
  }

  .java-logo {
    width: 164px;
    margin-left: 30px;
  }

  .css-logo {
    width: 164px;
    margin-left: 30px;
  }

  .html-logo {
    width: 164px;
    margin-left: 30px;
  }

  .js-logo {
    width: 164px;
    margin-left: 30px;
  }

  .page-up-btn {
    margin-left: 20%;
  }

  .page-content {
    margin-left: 20%;
    margin-right: 2%;
  }

  .un_list {
    margin-bottom: 0px;
  }

  .uno_list {
    margin-bottom: 0px;
  }

  .code_block {
    margin-bottom: 0px;
  }

  .code_area {
    margin-bottom: 0px;
  }

  .up-right-btn {
    margin-left: 80%;
  }

  .page-down-btn {
    margin-left: 20%;
    margin-top: 0px;
  }

  .down-right-btn {
    margin-left: 80%;
  }

  .footer {
    padding: 30px 30px 20px 166px;
    padding-left: 17%;
  }

  .nav__item {
    padding-left: 100px;
    padding-top: 13px;
  }
}

@media (max-width: 1280px) {
  #navbar {
    position: relative;
    left: 13%;
  }

  #leftmenu {
    height: 100%;
    width: 203px;
  }

  #sidenav h2 {
    font-size: 22px;
    padding-left: 16px;
    width: 204px;
  }

  #sidenav a {
    font-family: "Segoe UI", Arial, sans-serif;
    text-decoration: none;
    display: block;
    padding-left: 17px;
    font-size: 17px;
    color: black;
    padding-top: 13px;
  }

  .content-image {
    width: 100%;
    padding: 10px 20px;
  }

  .py-logo {
    width: 146px;
    margin-bottom: 16px;
    margin-left: 20px;
  }

  .html-logo {
    width: 146px;
    margin-bottom: 16px;
    margin-left: 20px;
  }

  .css-logo {
    width: 146px;
    margin-bottom: 16px;
    margin-left: 20px;
  }

  .c-logo {
    width: 135px;
    margin-bottom: 16px;
    margin-left: 25px;
  }

  .java-logo {
    width: 140px;
    margin-bottom: 16px;
    margin-left: 22px;
  }

  .js-logo {
    width: 143px;
    margin-bottom: 16px;
    margin-left: 23px;
  }

  .page-up-btn {
    margin-left: 18%;
  }

  .up-right-btn {
    margin-left: 81%;
  }

  .page-content {
    margin-left: 18%;
    margin-right: 4%;
  }

  .un_list {
    margin-bottom: 0px;
  }

  .uno_list {
    margin-bottom: 0px;
  }

  .code_block {
    margin-bottom: 0px;
  }

  .code_area {
    margin-bottom: 0px;
  }

  .page-down-btn {
    margin-left: 18%;
    margin-top: 0px;
  }

  .down-right-btn {
    margin-left: 81%;
  }

  .footer {
    padding-left: 20%;
  }

  .nav__item {
    padding-left: 60px;
    padding-top: 13px;
  }
}

@media (max-width: 1137.78px) {
  #navbar {
    position: relative;
    left: 8%;
  }

  .page-up-btn {
    margin-left: 20%;
  }

  .up-right-btn {
    margin-left: 78%;
  }

  .page-content {
    margin-left: 20%;
    margin-right: 4%;
  }

  .un_list {
    margin-bottom: 0px;
  }

  .uno_list {
    margin-bottom: 0px;
  }

  .code_block {
    margin-bottom: 0px;
  }

  .code_area {
    margin-bottom: 0px;
  }

  .page-down-btn {
    margin-left: 20%;
    margin-top: 0px;
  }

  .down-right-btn {
    margin-left: 78%;
  }
}

@media (max-width: 1024px) {
  #navbar {
    position: relative;
    left: 4%;
  }

  .page-up-btn {
    margin-left: 22%;
  }

  .up-right-btn {
    margin-left: 75%;
  }

  .page-content {
    margin-left: 22%;
    margin-right: 4%;
  }

  .un_list {
    margin-bottom: 0px;
  }

  .uno_list {
    margin-bottom: 0px;
  }

  .code_block {
    margin-bottom: 0px;
  }

  .code_area {
    margin-bottom: 0px;
  }

  .page-down-btn {
    margin-left: 22%;
    margin-top: 0px;
  }

  .down-right-btn {
    margin-left: 75%;
  }
}

@media (max-width: 930.91px) {
  #navbar {
    position: relative;
    left: 0%;
  }

  .page-up-btn {
    margin-left: 24%;
  }

  .page-content {
    margin-left: 24%;
  }

  .content-image {
    width: 100%;
    padding: 10px 20px;
  }

  .up-right-btn {
    margin-left: 73%;
  }

  .un_list {
    margin-bottom: 0px;
  }

  .uno_list {
    margin-bottom: 0px;
  }

  .code_block {
    margin-bottom: 0px;
  }

  .code_area {
    margin-bottom: 0px;
  }

  .page-down-btn {
    margin-left: 24%;
    margin-top: 0px;
  }

  .down-right-btn {
    margin-left: 73%;
  }

  .footer {
    padding: 30px 9px 20px 195px;
  }

  .nav__item {
    padding-left: 50px;
    padding-top: 13px;
  }
}

@media (max-width: 819.20px) {
  #navbar {
    position: static;
  }

  .menu-list {
    display: block;
    font-size: 18px;
  }

  #menu_icon {
    position: relative;
    font-size: 23px;
    display: block;
    color: #234edd;
    list-style-type: none;
    margin-top: 11px;
    right: 51%;
  }

  nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2.7;
  }

  #navlist-bar {
    position: absolute;
    top: 103%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: white;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .web-nav {
    box-shadow: 0px 3px 9px gainsboro;
  }

  .container-right {
    display: flex;
    position: relative;
    right: 2%;
  }

  .container-right a {
    font-size: 14px;
  }

  .loglink {
    margin-top: 5px;
  }

  .searchBox {
    padding-top: 6px;
  }

  .searchBox .search-field {
    height: 50px;
    width: 227px;
  }

  .searchToggle.active ~ .search-field {
    margin-right: 102px;
  }

  .second-nav {
    display: none;
  }

  #inside-menu {
    display: none;
  }

  .page-up-btn {
    margin-left: 3%;
  }

  .up-btn {
    padding-top: 26px;
  }

  .page-content {
    margin-left: 3%;
  }

  .un_list {
    margin-bottom: 0px;
  }

  .uno_list {
    margin-bottom: 0px;
  }

  .code_block {
    margin-bottom: 0px;
  }

  .code_area {
    margin-bottom: 0px;
  }

  .content-image {
    width: 100%;
    padding: 10px 20px;
  }

  .up-right-btn {
    margin-left: 75%;
  }

  .page-down-btn {
    margin-left: 3%;
    margin-top: 0px;
  }

  .down-right-btn {
    margin-left: 75%;
  }

  .footer {
    padding: 30px 9px 20px 0px;
  }

  .nav__item {
    padding-left: 60px;
  }
}

@media (max-width: 768px) {
  #navbar {
    position: static;
  }

  .menu-list {
    display: block;
    font-size: 18px;
  }

  #menu_icon {
    position: relative;
    font-size: 23px;
    display: block;
    color: #234edd;
    list-style-type: none;
    margin-top: 12px;
    right: 51%;
  }

  nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2.7;
  }

  #navlist-bar {
    position: absolute;
    top: 103%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: white;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .web-nav {
    box-shadow: 0px 3px 9px gainsboro;
  }

  .container-right {
    display: flex;
    position: relative;
    right: 2%;
  }

  .container-right a {
    font-size: 14px;
  }

  .loglink {
    margin-top: 5px;
  }

  .searchBox {
    padding-top: 6px;
  }

  .searchBox .search-field {
    height: 50px;
    width: 227px;
  }

  .searchToggle.active ~ .search-field {
    margin-right: 102px;
  }

  .second-nav {
    display: none;
  }

  .up-right-btn {
    margin-left: 71%;
  }

  .un_list {
    margin-bottom: 0px;
  }

  .uno_list {
    margin-bottom: 0px;
  }

  .code_block {
    margin-bottom: 0px;
  }

  .code_area {
    margin-bottom: 0px;
  }

  .down-right-btn {
    margin-left: 71%;
  }

  .content-image {
    width: 100%;
    padding: 10px 20px;
  }

  .footer {
    padding: 30px 9px 20px 0px;
  }

  .nav__item {
    padding-left: 42px;
  }
}

@media (max-width: 440px) {
  html {
    font-size: 50%;
  }

  .web-logo {
    height: 47px;
  }

  .menu {
    font-size: 18px;
    display: block;
    list-style-type: none;
  }

  #menu_icon {
    position: relative;
    font-size: 23px;
    display: block;
    color: #234edd;
    list-style-type: none;
    margin-top: 10px;
    right: 51%;
  }

  .ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 3px 1em 3px 0.4em;
    font-size: 13px;
    font-weight: 600;
  }

  #inside-menu {
    display: none;
  }

  #leftmenu {
    display: none;
  }

  .page-up-btn {
    margin-left: 4%;
    display: none;
  }

  .up-btn {
    display: flex;
  }

  .up-right-btn {
    margin-left: 54%;
  }

  .page-text {
    display: block;
    padding-top: 5px;
  }

  .page-text h1 {
    font-size: 32px;
    line-height: 5.5rem;
    margin: 15px 0 15px 10px;
}

  .page-content {
    margin-left: 4%;
    margin-right: 4%;
  }

  .un_list {
    margin-bottom: 0px;
  }

  .uno_list {
    margin-bottom: 0px;
  }

  .code_block {
    margin-bottom: 0px;
  }

  .code_area {
    margin-bottom: 0px;
  }

  .content-img {
    width: 100%;
    margin-left: 5px;
  }

  .content-image {
    width: 100%;
    padding: 10px 20px;
  }

  .page-down-btn {
    margin-left: 4%;
  }

  .down-btn {
    display: flex;
  }

  .down-right-btn {
    margin-left: 54%;
  }

  .fo-site_item {
    margin-left: 89px;
  }

  .fo-site-intro {
    margin-left: 40px;
  }

  .nav__item {
    padding-left: 60px;
    padding-top: 13px;
  }

  .social-ico-list {
    margin-left: 40px;
  }
}

@media (max-width: 412px) {
  code {
    font-size: 2rem;
  }

  .page-text {
    display: block;
    padding-top: 5px;
  }

  .un_list {
    margin-bottom: 0px;
  }

  .uno_list {
    margin-bottom: 0px;
  }

  .code_block {
    margin-bottom: 0px;
  }

  .code_area {
    margin-bottom: 0px;
  }
}
